<template>
    <v-container class="text-body-2">
        <v-row>
            <v-col cols="6">ยอดก่อนหัก</v-col>
            <v-col>100.00</v-col>
            <v-col cols="6">ยอดก่อนหัก</v-col>
            <v-col>100.00</v-col>
            <v-col cols="6">ยอดก่อนหัก</v-col>
            <v-col>100.00</v-col>
        </v-row>
    </v-container>
</template>