<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt';
import { type Ref, inject } from 'vue';

const receiptStroe = useReceiptStore()
</script>
<template>
     <v-dialog
      v-model="receiptStroe.receiptDialog"
      persistent
      width="auto"
    >
     
      <v-card>
        <v-card-title class="text-h5">
          Receipt
        </v-card-title>
        <v-card-text>{{ receiptStroe.receipt }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="receiptStroe.receiptDialog = false"
          >
            Disagree
          </v-btn>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="() => {
                receiptStroe.receiptDialog = false
                receiptStroe.clear()
            }"
          >
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>
